#entrada {
    background-color: aquamarine;
    border: 2px solid;
    width: 360px;
    height: 240px;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
}

#saida{
    background-color: rgb(135, 134, 224);
    border: 2px dashed;
    width: 360px;
    height: 240px;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
}